src/staticfiles/*
src/media/*
src/static/*
src/back_media/*
src/back_static/*
src/.idea/*
src/.env
**/migrations/0**
src/db.sqlite3
.venv/*
db.sqlite3
.env
.idea/
back_media/
back_static/
static/
media/
venv/
init.sql/
storage/
*.pyc
.vscode/